@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;

}

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    /* margin: 20px 150px; */
    padding: 0px;
    
}
.header{
    margin: 0px 150px;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
}

.contenedor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 55px;
    
    /* background-color:grey; */

}

.logo-header{
    /* font-family: "Outfit", sans-serif; */
    font-optical-sizing: auto;
    font-size: 35px;
    font-weight: bold;
    color: #fc6c04;
    margin-top: 15px;
     /* text-align: left; */
}
nav{
    display: flex;
    justify-content: space-between;
    margin-right: 400px;

}

nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s ;
    margin-left: 25px;
}


nav a:hover{
    text-decoration: underline;
}

.box{
    margin: 20px 150px;
    /* margin: 45px 0px;  */
    /* font-family: "Outfit", sans-serif;
    font-optical-sizing: auto; */
}

.hero{
    /* border: solid 1px black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    padding-top: 100px ;
    /* background-color: grey; */

}

.texto-inicio{
    /* font-family: "Outfit", sans-serif;
    font-optical-sizing: auto; */
    padding: 20px 0px;
    /* text-align: left; */
    max-width: 50%;
    
}

.hola{
    /* font-family: "Outfit", sans-serif;
    font-optical-sizing: auto; */
    font-size: 20px;
    font-weight: 600;
    /* padding: 10px 0px; */
    margin-bottom:10px ;
}

.nombre{
    /* font-family: "Outfit", sans-serif;
    font-optical-sizing: auto; */
    font-size: 25px;
    /* padding: 15px 0px; */
    color: #ff7411;
    margin-top: 0px;
    margin-bottom: 0px;
}


h1{
    /* font-family: "Outfit", sans-serif;
    font-optical-sizing: auto; */
    font-weight: 700;
    font-size: 80px;
    /* padding: 0px 5px; */
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin: 10px 0px; */
    /* text-align: left; */
    
}

.sangria{
    text-indent: 132px;
    margin-top: 0px;
    margin-bottom: 15px;
    

}
.descripcion{
    text-align: justify;
    font-size: 18px;
    /* width: 500px; */
    
}

.boton-hero{
    background-color: #ffffff;
    color: #fc6c04;
    padding: 10px 22px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #fc6c04;
    transition: background-color 0.5s, color 0.5s;
    margin-top: 25px;

}

.boton-hero:hover{
    background-color: #fc6c04;
    color: white;
    cursor: pointer;
    padding: 10px 22px;
    
}

.img-propia{
    width: 350px;

}

.iconos-redes{
    text-align: center;
    margin-top: 15px;
    
}

.iconos-redes a{
    font-size: 23px;
    color: black;
    padding: 5px 8px;
}

.acerca{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: grey; */
    padding-top: 100px ;
    /* margin-top: 100px; */

}

.img-acerca{
    width: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
    
}

.contenido-acerca{
    width: 50%;
    justify-content: right;
}

h2{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 550;
}

.descripcion-acerca{
    margin-bottom: 20px;
    font-size: 18px;

}

.contenedor-barras{
    margin-top: 30px;
}

.skill {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.progress-bar {
    
    width: 100%;
}

progress {
    width: 100%;
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
}

progress::-webkit-progress-value {
    background-color: #ff6a00;
    border-radius: 10px;
}

progress::-moz-progress-bar {
    background-color: #ff6a00;
    border-radius: 10px;
}

progress[value]::-webkit-progress-value {
    background-color: #ff6a00;
}

progress[value]::-moz-progress-bar {
    background-color: #ff6a00;
}

.habilidades{
    /* margin-top: 100px; */
    text-align: center;
    padding-top: 110px ;
    height: 350px;
}

.contenedor-habilidades{
    display: flex;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 80px;
    /* padding: 11px; */
    width: 100%;
    background-color: white;
    flex-wrap: wrap;

}

.habilidad{
    height: 100px;
    width: 100px;
    /* margin: 50px 50px; */
    padding: 15px 5px;
    text-align: center;
    background-color: #ffecdc;
    border: solid 1px #fc6c04;
    border-radius: 10px;
}
.img-habilidad{
    text-align: center;
    margin: 0 auto;
}
.habilidad h3{
    text-align: center;
    margin-top: 15px;

}

.servicios{
    /* margin-top: 100px; */
    padding-top: 110px;
    text-align: center;
    /* background-color: grey; */
}

.descripcion-servicios{
    margin: 0 auto;
    max-width: 700px;
    font-size:17px ;
    
    
}

.contenedor-servicios{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 11px;
    margin: 0 auto;
    max-width: 100%;
    /* width: 100%; */
    background-color: white;
}

.servicio{
    height: 220px;
    width: 210px;
    margin-top: 50px;
    padding: 15px ;
    text-align: left;
    background-color: #f8f8f8;
    border-radius: 10px;
    
}

.nombre-servicio{
    font-size: 30px;
    font-weight: 500;

}

.descripcion-servicio{
    font-size: 15px;
}

.proyectos{
    scroll-margin-top: 95.25px;
    text-align: center;
    /* padding-top: 100px; */
    margin-top: 110px;

}

.descripcion-proyectos{
    margin: 0 auto;
    max-width: 700px;
    font-size: 17px;
}


.contenedor-botones{
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.boton-proyectos{
    background-color: #f6f6f6;
    color: black;
    font-size: 20px;
    font-weight: 350;
    padding: 10px 22px;
    text-decoration: none;
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s, color 0.5s;
    margin: 10px;
    

}

.boton-proyectos:hover{
    background-color: #fc6c04;
    color: white;
    padding: 10px 22px;
    font-size: 20px;
    font-weight: 350;

}

.contenedor-proyectos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 11px;
    max-width: 100%;
    /* width: 100%; */
    background-color: white;

}

.contenedor-img{
    height: 320px;
    width: 290px;
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    background-color: #ffecdc;
    border-radius: 10px;
}



.proyecto h4{
    font-size: 15px;
    font-weight: 500;
    color: #ff8833;
    padding-top: 25px;
    text-align: left;

}

.proyecto h3{
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-top: 8px;
    text-align: left;

}

.img-proyecto{
    width: 80%;
    padding: 20px

}

.contacto{
    text-align: center;
    padding-top: 110px;
    
}

.descripcion-contacto{
    margin: 0 auto;
    max-width: 700px;
}

.boton-contacto{
    background-color: #ffffff;
    color: #fc6c04;
    padding: 13px 23px;
    font-size: 19px;
    font-weight: 500 ;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #fc6c04;
    transition: background-color 0.5s, color 0.5s;
    margin-top: 25px;
    margin-left: 10px;
}

.boton-contacto:hover{
    background-color: #fc6c04;
    font-size: 19px;
    font-weight: 500 ;
    color: white;
    cursor: pointer;
    padding: 13px 23px;

}

.input-email{
    text-align: left;
    padding: 13px;
    padding-right: 200px;
    font-size: 19px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.5) ;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color:#f6f6f6 ;
    margin-right: 10px;

}

.footer{
    margin-top: 100px;
    width: 100%;
    background-color: #5b5b5b;
    padding: 20px;
    text-align: center;
    
}

.footer p{
    color: white;
}

.footer span{
    color:#fc6c04 ;

}

